.react-calendar__month-view__days {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
}

.react-calendar__tile--active {
    background-color: #d81159 !important;
    border-radius: 10px;
    margin: 10px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
    border-radius: 10px;
}